<article class="card-portfolio mix category-a" href="#">

  <a href="wawe-page.html">
    <div class="card-portfolio__image wow animate__zoomIn">
      <img class="card-portfolio__img" src="images/content/portfolio/wawe-pp.jpg" alt="image wawe">
    </div>
  </a>

</article>

<article class="card-portfolio mix category-a" href="#">

  <a href="marketing-page.html">
    <div class="card-portfolio__image wow animate__zoomIn">
      <img class="card-portfolio__img" src="images/content/portfolio/marketing.jpg" alt="image marketing">
    </div>
  </a>

</article>

<article class="card-portfolio mix category-a" href="#">

  <a href="suntour-page.html">
    <div class="card-portfolio__image wow animate__zoomIn">
      <img class="card-portfolio__img card-portfolio__img--suntour" src="images/content/portfolio/suntour.jpg"
        alt="image suntour">
    </div>
  </a>

</article>

<article class="card-portfolio mix category-a" href="#">

  <a href="glee-page.html">
    <div class="card-portfolio__image wow animate__zoomIn">
      <img class="card-portfolio__img" src="images/content/portfolio/glee.jpg" alt="image glee">
    </div>
  </a>

</article>

<article class="card-portfolio mix category-a" href="#">

  <a href="marcho-page.html">
    <div class="card-portfolio__image wow animate__zoomIn">
      <img class="card-portfolio__img" src="images/content/portfolio/marcho.jpg" alt="image marcho">
    </div>
  </a>

</article>

<article class="card-portfolio mix category-a" href="#">

  <a href="kratom-page.html">
    <div class="card-portfolio__image wow animate__zoomIn">
      <img class="card-portfolio__img" src="images/content/portfolio/kratom.jpg" alt="image kratom">
    </div>
  </a>

</article>

<article class="card-portfolio mix category-c" href="#">

  <a href="bigstore-page.html">
    <div class="card-portfolio__image wow animate__zoomIn">
      <img class="card-portfolio__img" src="images/content/portfolio/bigstore.png" alt="image bigstore">
    </div>
  </a>

</article>

<article class="card-portfolio mix category-a" href="#">

  <a href="itcluster-page.html">
    <div class="card-portfolio__image wow animate__zoomIn">
      <img class="card-portfolio__img" src="images/content/portfolio/itcluster.jpg" alt="image it cluster">
    </div>
  </a>

</article>

<article class="card-portfolio mix category-f" href="#">

  <a href="mobilefirst-page.html">
    <div class="card-portfolio__image wow animate__zoomIn">
      <img class="card-portfolio__img" src="images/content/portfolio/mobilefirst.jpg" alt="image mobilefirst">
    </div>
  </a>

</article>